<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <!-- User Profile-->
        <li>
          <!-- User Profile-->
          <div class="user-profile d-flex no-block dropdown mt-3">
            <div class="user-pic">
              <img src="<%= basePath %>/images/1.jpg" alt="users" class="rounded-circle" width="40" />
            </div>
            <div class="user-content hide-menu ms-2">
              <a href="#" class="" id="Userdd" role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <h5 class="mb-0 user-name font-medium">
                  <%= admin.name %>
                    <i data-feather="chevron-down" class="feather-sm"></i>
                </h5>
                <span class="op-5 user-email">
                  <%= admin.email %>
                </span>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="Userdd">
                <a class="dropdown-item" href="/admin/users/edit/<%= admin.id %>"><i data-feather="user" class="feather-sm text-info me-1"></i> My
                  Profile</a>
                <a class="dropdown-item" href="#"><i data-feather="credit-card"
                    class="feather-sm text-primary me-1"></i> My
                  Balance</a>
                <a class="dropdown-item" href="#"><i data-feather="mail" class="feather-sm text-success me-1"></i>
                  Inbox</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#"><i data-feather="settings" class="feather-sm text-warning me-1"></i>
                  Account Setting</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/admin/logout"><i data-feather="log-out"
                    class="feather-sm text-danger me-1"></i>
                  Logout</a>
              </div>
            </div>
          </div>
          <!-- End User Profile-->
        </li>

        <!-- User Profile-->
        <li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link <%= locals.currentRoute === '/admin/dashboard' ? 'active bg-body' : '' %>"
            href="/admin/dashboard" aria-expanded="false">
            <i data-feather="home" class="feather-icon"></i>
            <span class="hide-menu">Dashboard</span>
          </a>
        </li>

        <!-- Users -->
        <li class="sidebar-item">
          <a class="sidebar-link has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
              data-feather="users" class="feather-icon"></i><span class="hide-menu">Users</span></a>
          <ul aria-expanded="false" class="collapse first-level">
            <li class="sidebar-item">
              <a href="/admin/users"
                class="sidebar-link <%= locals.currentRoute === '/admin/users' ? 'active bg-body' : '' %>"><i
                  class="mdi mdi-adjust"></i><span class="hide-menu">All Users </span></a>
            </li>
            <li class="sidebar-item">
              <a href="/admin/users/add"
                class="sidebar-link <%= locals.currentRoute === '/admin/users/add' ? 'active bg-body' : '' %>"><i
                  class="mdi mdi-adjust"></i><span class="hide-menu">Add New User </span></a>
            </li>
            <li class="sidebar-item">
              <a href="/admin/users/edit/<%= admin.id %>"
                class="sidebar-link <%= locals.currentRoute === '/admin/users/edit' ? 'active bg-body' : '' %>"><i
                  class="mdi mdi-adjust"></i><span class="hide-menu">Profile </span></a>
            </li>
          </ul>
        </li>

        <!-- Products -->
        <li class="sidebar-item">
          <a class="sidebar-link has-arrow waves-effect waves-dark sidebar-link" href="#" aria-expanded="false">
            <i data-feather="package" class="feather-icon"></i>
            <span class="hide-menu">Products</span>
          </a>
          <ul aria-expanded="false" class="collapse first-level">
            <li class="sidebar-item">
              <a href="/admin/products"
                class="sidebar-link <%= locals.currentRoute === '/admin/products' ? 'active bg-body' : '' %>"><i
                  class="mdi mdi-adjust"></i><span class="hide-menu">Products </span></a>
            </li>
            <li class="sidebar-item">
              <a href="/admin/products/add"
                class="sidebar-link <%= locals.currentRoute === '/admin/products/add' ? 'active bg-body' : '' %>"><i
                  class="mdi mdi-adjust"></i><span class="hide-menu">Add New Product </span></a>
            </li>
            <li class="sidebar-item">
              <a href="/admin/products/categories"
                class="sidebar-link <%= locals.currentRoute === '/admin/products/categories' ? 'active bg-body' : '' %>"><i
                  class="mdi mdi-adjust"></i><span class="hide-menu">Categories </span></a>
            </li>
            <li class="sidebar-item">
              <a href="/admin/products/attributes"
                class="sidebar-link <%= locals.currentRoute === '/admin/products/attributes' ? 'active bg-body' : '' %>"><i
                  class="mdi mdi-adjust"></i><span class="hide-menu">Attributes </span></a>
            </li>
            <li class="sidebar-item">
              <a href="/admin/products/reviews"
                class="sidebar-link <%= locals.currentRoute === '/admin/products/reviews' ? 'active bg-body' : '' %>"><i
                  class="mdi mdi-adjust"></i><span class="hide-menu">Reviews </span></a>
            </li>
          </ul>
        </li>

        <!-- Orders -->
        <li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link <%= locals.currentRoute.startsWith('/admin/orders') ? 'active bg-body' : '' %>"
            href="/admin/orders" aria-expanded="false">
            <i data-feather="shopping-cart" class="feather-icon"></i>
            <span class="hide-menu">Orders</span>
          </a>
        </li>

        <!-- stores -->
        <li class="sidebar-item">
          <a class="sidebar-link has-arrow waves-effect waves-dark sidebar-link" href="#" aria-expanded="false">
            <i data-feather="shopping-bag" class="feather-icon"></i>
            <span class="hide-menu">Stores</span>
          </a>
          <ul aria-expanded="false" class="collapse first-level">
            <li class="sidebar-item">
              <a href="/admin/coupons"
                class="sidebar-link <%= locals.currentRoute === '/admins/coupons' ? 'active bg-body' : '' %>"><i
                  class="mdi mdi-adjust"></i><span class="hide-menu">Coupons  </span></a>
            </li>
            <li class="sidebar-item">
              <a href="/admins/settings"
                class="sidebar-link <%= locals.currentRoute === '/admins/settings' ? 'active bg-body' : '' %>"><i
                  class="mdi mdi-adjust"></i><span class="hide-menu">Store Settings </span></a>
            </li>
          </ul>
        </li>

        <!-- Content  -->
        <li class="sidebar-item">
          <a class="sidebar-link has-arrow waves-effect waves-dark sidebar-link" href="#" aria-expanded="false">
            <i data-feather="file-text" class="feather-icon"></i>
            <span class="hide-menu">Content </span>
          </a>
          <ul aria-expanded="false" class="collapse first-level">
            <li class="sidebar-item">
              <a href="/admin/pages"
                class="sidebar-link <%= locals.currentRoute === '/admin/pages' ? 'active bg-body' : '' %>"><i
                  class="mdi mdi-adjust"></i><span class="hide-menu">Pages   </span></a>
            </li>
            <li class="sidebar-item">
              <a href="/admin/blogs"
                class="sidebar-link <%= locals.currentRoute === '/admin/blogs' ? 'active bg-body' : '' %>"><i
                  class="mdi mdi-adjust"></i><span class="hide-menu">Blogs  </span></a>
            </li>
            <li class="sidebar-item">
              <a href="/admin/blogs/categories"
                class="sidebar-link <%= locals.currentRoute === '/admin/blogs/categories' ? 'active bg-body' : '' %>"><i
                  class="mdi mdi-adjust"></i><span class="hide-menu">Blogs Category </span></a>
            </li>
          </ul>
        </li>

        <!-- Site Settings -->
        <li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link <%= locals.currentRoute.startsWith('/admin/site-settings') ? 'active bg-body' : '' %>"
            href="/admin/site-settings" aria-expanded="false">
            <i data-feather="settings" class="feather-icon"></i>
            <span class="hide-menu">Site Settings</span>
          </a>
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/logout"
            aria-expanded="false"><i data-feather="log-out" class="feather-icon"></i><span class="hide-menu">Log
              Out</span></a>
        </li>
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>